@charset "UTF-8";
body, html {
  margin: 0;
  font-family: "Tsukushi B Round Gothic", "筑紫A丸ゴシック", "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", -apple-system, BlinkMacSystemFont, Meiryo, メイリオ;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

p {
  margin: 0;
  letter-spacing: 1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  line-height: 4rem;
  font-family: "Tsukushi B Round Gothic", "筑紫A丸ゴシック", "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", -apple-system, BlinkMacSystemFont, Meiryo, メイリオ;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

header .header-logo {
  font-family: 'Leckerli One', cursive;
}

header .header-logo a {
  height: 4rem;
  line-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
}

header .header-logo a p {
  height: 4rem;
  line-height: 4rem;
  line-height: 5rem;
  margin: 0;
  padding-left: 1rem;
}

header .header-logo a p img {
  height: 32px;
  width: 32px;
}

header .header-logo a h1 {
  margin: 0;
  padding-left: 1rem;
  text-shadow: 1px 2px 3px #808080;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav-bar ul li {
  padding-right: 3rem;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}

.nav-bar ul li a:hover {
  color: #81d7f3;
}

.header-animation {
  background: #072046;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/img/waveee3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 30vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#072046), color-stop(5%, rgba(7, 32, 70, 0.98)), color-stop(10%, rgba(7, 32, 70, 0.96)), color-stop(15%, rgba(7, 32, 70, 0.94)), to(rgba(7, 32, 70, 0)));
  background: linear-gradient(0deg, #072046 0%, rgba(7, 32, 70, 0.98) 5%, rgba(7, 32, 70, 0.96) 10%, rgba(7, 32, 70, 0.94) 15%, rgba(7, 32, 70, 0) 100%);
}

.hero h1 {
  position: absolute;
  bottom: 9vh;
  right: 13vw;
  font-family: "Toppan Bunkyu Midashi Mincho", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif;
  color: white;
  font-size: 2.7rem;
  text-shadow: 1px 2px 3px #808080;
}

.intro {
  position: relative;
  background-image: url(../assets/img/p0026.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  height: 200vh;
  width: 100wv;
}

.intro__container--1 {
  width: 60vw;
  margin: 0 auto;
  padding: 13vh 10vw 13vh 8vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #072046;
  color: white;
}

.intro__container--1 h2 {
  font-family: "Toppan Bunkyu Midashi Mincho", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif;
  margin: 0 0 10vh 0;
}

.intro__container--1 p {
  padding-bottom: 6vh;
  line-height: 5vh;
}

.intro__container--2 {
  width: 60vw;
  margin: 0 auto;
  padding: 13vh 10vw 13vh 8vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #072046;
  color: white;
  height: 80vh;
  padding: 13vh 4vw 13vh 18vw;
}

.intro__container--2 li {
  padding-bottom: 50px;
}

.intro__container--2 a {
  width: 320px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid;
  font-size: 1.1rem;
}

.intro__container--2 a:hover {
  background-color: #506c96;
  -webkit-transition: .3s;
  transition: .3s;
}

.intro__images1 {
  position: absolute;
  top: 10vh;
  right: 0;
}

.intro__images1__img1 {
  width: 35vw;
  height: 43vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.intro__images1__img2 {
  width: 27vw;
  height: 36vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.intro__images2 {
  position: absolute;
  bottom: 10vh;
  left: 0;
}

.intro__images2__img3 {
  width: 35vw;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.news {
  height: 60vh;
  padding: 10vh 5vw;
}

.news h2 {
  text-align: center;
  font-family: "Toppan Bunkyu Midashi Mincho", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif;
}

.news__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news__container ul li {
  width: 20vw;
  height: 170px;
  overflow: hidden;
}

.news__container ul li a img {
  width: 20vw;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.news__container ul li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s;
  transition: .4s;
}
/*# sourceMappingURL=main.css.map */