@mixin flex($justify) {
    display: flex;
    justify-content: $justify;
}

header {
    @include flex(space-between);
    font-family: $fontTsukushi;
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    z-index: 2;
    .header-logo {
        font-family: 'Leckerli One', cursive;
        width: 20%;
        a {
            @include alignCenter();
            justify-content: center;
            color: #fff;
            text-decoration: none;
            p {
                margin: 0;
                @include alignCenter();
                img {
                    height: 32px;
                    width: 32px;
                }
            }
            h1 {
                margin: 0;
                padding-left: 1rem;
                text-shadow: $textShadow;
            }
        }
    }

    .open {
        clip-path: circle(1100px at 100% -10%);
    }

    nav {
        position: relative;
        width: 50vw;
        @media (max-width: 768px) {
            position: fixed;
            background: $blueColor;
            height: 100vh;
            width: 100%;
            clip-path: circle(90px at 110% -10%);
            transition: all 1s ease-out;
        }
        .nav-links {
            @include alignCenter();
            margin: 0;
            li a {
                text-decoration: none;
                color: #fff;
                text-shadow: $textShadow;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                li a {
                    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
                }
            }
        }
    }

    .menu-trigger-wrapper {
        display: none;
        align-items: center;
        width: 50px;
        z-index: 2;
        @media (max-width: 768px) {
            display: flex;
        }
        .menu-trigger,
        .menu-trigger span {
            transition: all .4s;
            box-sizing: border-box;
        }
        .menu-trigger {
            display: block;
            width: 40px;
            cursor: pointer; 
            span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: rgb(255, 255, 255);
                border-radius: 4px;
                margin: 8px 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &.active {
                span {
                    &:nth-of-type(1) {
                        -webkit-transform: translateY(20px) rotate(-45deg);
                        transform: translateY(20px) rotate(-45deg);
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:nth-of-type(3) {
                        -webkit-transform: translateY(-20px) rotate(45deg);
                        transform: translateY(-20px) rotate(45deg);
                    }
                }
            }
        }
    }
}


