@mixin flex($justify) {
    display: flex;
    justify-content: $justify;
}

header {
    @include flex(space-between);
    font-family: $fontTsukushi;
    width: 100vw;
    padding: 15px 30px;
    box-sizing: border-box;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 2;

    .header-logo {
        font-family: 'Leckerli One', cursive;
        a {
            display: flex;
            color: $whiteColor;
            text-decoration: none;
            p {
                margin: 0;
                @include alignCenter();
                img {
                    height: 32px;
                    width: 32px;
                }
            }
            h1 {
                margin: 0;
                padding-left: 1rem;
                text-shadow: $textShadow;
            }
        }
    }

    .nav-bar {
        @include alignCenter();
        ul {
            display: flex;
            margin: 0;
            li {
                padding-right: 3rem;
            }
            li a {
                text-decoration: none;
                color: $whiteColor;
                text-shadow: $textShadow;
                &:hover {
                    color: $hoverColor;
                }
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    .menu-trigger,
    .menu-trigger span {
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        display: none;
        position: relative;
        width: 40px;
        height: 33px;
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            &:nth-of-type(1) {
                top: 9px;
            }
            &:nth-of-type(2) {
                top: 22px;
            }
            &:nth-of-type(3) {
                bottom: -5px;
            }
        }

        &.active {
            span {
                &:nth-of-type(1) {
                    -webkit-transform: translateY(20px) rotate(-45deg);
                    transform: translateY(20px) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    -webkit-transform: translateY(-20px) rotate(45deg);
                    transform: translateY(-20px) rotate(45deg);
                }
            }
        }

        @media (max-width: 768px) {
            display: block;
        }
    }
}
   



