.course-contents {
    box-sizing: border-box;
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 2vh 5vw;
    @media (min-width: 1768px) {
        padding-top: 55vh;
    }
    @media (max-width: 1440px) {
        padding-top: 65vh;
    }
    @media (max-width: 768px) {
        padding-top: 40vh;
    }
    @media (max-width: 668px) {
        padding-top: 35vh;
    }
    @media (max-width: 328px) {
        padding-top: 38vh;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        margin: 10vh 0;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .course--1,
        .course--2
         {
            max-width: 40vw;
            background: $whiteColorWeak;
            padding: 10vh 3vw 0;
            align-self: flex-start;
            box-sizing: border-box;
            @media (max-width: 768px) {
                margin: 0 auto 2vh auto;
                max-width: 100vw;
                width: 100%;
            }
            h2 {
                @include h2Title();
                margin-bottom: 5rem;
            }
            p {
                @include pSmall();
                text-align: center;
                padding-bottom: 4vh;
            }
        }
    }
}
