$whiteColor: rgba(255, 255, 255, 0.9);
$whiteColorWeak: rgba(255, 255, 255, 0.7);

$blueColor: rgb(27, 32, 48);
$blueHover: rgb(80, 108, 150);

$blackColor: rgb(41, 41, 41);
$hoverColor: rgb(129, 215, 243);
